n8n/workflow.json
{
  "name": "LinkedIn Nurture — HeyReach → Claude → Route → Send",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heyreach-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "HeyReach Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "HeyReach fires this on MESSAGE_REPLY_RECEIVED. Set this URL in HeyReach → Settings → Webhooks"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, processing: true }) }}"
      },
      "id": "immediate-ack",
      "name": "Acknowledge (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 200],
      "notes": "Respond immediately so HeyReach doesn't timeout"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.eventType }}",
              "operation": "contains",
              "value2": "MESSAGE_REPLY_RECEIVED"
            }
          ]
        }
      },
      "id": "filter-event-type",
      "name": "Filter: Message Events Only",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "https://api.heyreach.io/api/public/conversations/GetById",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conversationId",
              "value": "={{ $json.body.conversationId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-full-thread",
      "name": "Get Full Thread from HeyReach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 400],
      "notes": "Fetches the complete conversation thread for better Claude context. Credential: HeyReach API Key header X-API-KEY"
    },
    {
      "parameters": {
        "jsCode": "// Build the prompt payload for Claude\nconst payload = $input.all()[0].json;\nconst webhook = $('HeyReach Webhook').first().json.body;\nconst thread = payload.messages || [];\n\nconst formattedThread = thread.map(m => ({\n  sender: m.isOurs ? 'us' : 'them',\n  text: m.text,\n  timestamp: m.createdAt\n}));\n\nreturn [{\n  json: {\n    conversationId: webhook.conversationId,\n    senderId: webhook.linkedInAccountId,\n    leadProfile: {\n      name: webhook.leadName || 'Unknown',\n      role: webhook.leadTitle || '',\n      company: webhook.leadCompany || '',\n      linkedInUrl: webhook.leadLinkedInUrl\n    },\n    thread: formattedThread,\n    rawWebhook: webhook\n  }\n}];"
      },
      "id": "prepare-claude-input",
      "name": "Prepare Claude Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $credentials.anthropicApiKey }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 1024,\n  system: 'You are a LinkedIn conversion assistant. Analyse conversations and return JSON routing decisions. Return ONLY valid JSON, no preamble.',\n  messages: [{\n    role: 'user',\n    content: `Analyse this LinkedIn conversation and return a routing decision.\\n\\nLEAD: ${JSON.stringify($json.leadProfile)}\\n\\nTHREAD:\\n${$json.thread.map(m => '[' + (m.sender === 'us' ? 'US' : 'THEM') + ']: ' + m.text).join('\\n')}\\n\\nReturn JSON: {\"stage\": \"cold|warm|hot|close|nurture\", \"sentiment\": \"positive|neutral|negative|frustrated\", \"intent\": \"string\", \"routing_decision\": \"send_job_list|book_call|send_landing_page|send_payment_link|send_onboarding_link|human_takeover\", \"routing_reason\": \"string\", \"suggested_asset_segment\": \"string\", \"confidence\": 0.0}`\n  }]\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "claude-classify",
      "name": "Claude: Classify & Route",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1180, 400],
      "notes": "Calls Claude API to classify lead stage and choose routing outcome"
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's routing decision\nconst response = $input.first().json;\nconst text = response.content[0].text;\n\nlet decision;\ntry {\n  const clean = text.replace(/```json\\n?|\\n?```/g, '').trim();\n  decision = JSON.parse(clean);\n} catch(e) {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  decision = match ? JSON.parse(match[0]) : { routing_decision: 'human_takeover', reason: 'parse_error' };\n}\n\nconst upstream = $('Prepare Claude Input').first().json;\n\nreturn [{ json: { ...upstream, decision } }];"
      },
      "id": "parse-routing",
      "name": "Parse Routing Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 400]
    },
    {
      "parameters": {
        "dataPropertyName": "decision.routing_decision",
        "rules": {
          "rules": [
            { "value": "send_job_list" },
            { "value": "book_call" },
            { "value": "send_landing_page" },
            { "value": "send_payment_link" },
            { "value": "send_onboarding_link" },
            { "value": "human_takeover" }
          ]
        }
      },
      "id": "route-switch",
      "name": "Route Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1660, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/conversations/{{ $json.conversationId }}/process",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "routing", "value": "={{ $json.decision.routing_decision }}" },
            { "name": "segment", "value": "={{ $json.decision.suggested_asset_segment }}" },
            { "name": "leadProfile", "value": "={{ JSON.stringify($json.leadProfile) }}" },
            { "name": "thread", "value": "={{ JSON.stringify($json.thread) }}" }
          ]
        }
      },
      "id": "call-backend",
      "name": "Call Backend: Draft & Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1900, 400],
      "notes": "Sends the routing decision to the Node.js backend which drafts the message and queues it for review"
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🔴 *Human takeover needed*\\n*Lead:* {{ $json.leadProfile.name }} ({{ $json.leadProfile.role }} at {{ $json.leadProfile.company }})\\n*Reason:* {{ $json.decision.routing_reason }}\\n*Last message:* {{ $json.thread[$json.thread.length - 1].text.substring(0, 200) }}\\nOpen HeyReach to respond."
            }
          ]
        }
      },
      "id": "slack-alert",
      "name": "Slack: Human Takeover Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1900, 600],
      "notes": "Replace YOUR_SLACK_WEBHOOK with your Slack incoming webhook URL. Or use email/any notification."
    }
  ],
  "connections": {
    "HeyReach Webhook": {
      "main": [
        [
          { "node": "Acknowledge (200 OK)", "type": "main", "index": 0 },
          { "node": "Filter: Message Events Only", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter: Message Events Only": {
      "main": [
        [{ "node": "Get Full Thread from HeyReach", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Full Thread from HeyReach": {
      "main": [[{ "node": "Prepare Claude Input", "type": "main", "index": 0 }]]
    },
    "Prepare Claude Input": {
      "main": [[{ "node": "Claude: Classify & Route", "type": "main", "index": 0 }]]
    },
    "Claude: Classify & Route": {
      "main": [[{ "node": "Parse Routing Decision", "type": "main", "index": 0 }]]
    },
    "Parse Routing Decision": {
      "main": [[{ "node": "Route Switch", "type": "main", "index": 0 }]]
    },
    "Route Switch": {
      "main": [
        [{ "node": "Call Backend: Draft & Queue", "type": "main", "index": 0 }],
        [{ "node": "Call Backend: Draft & Queue", "type": "main", "index": 0 }],
        [{ "node": "Call Backend: Draft & Queue", "type": "main", "index": 0 }],
        [{ "node": "Call Backend: Draft & Queue", "type": "main", "index": 0 }],
        [{ "node": "Call Backend: Draft & Queue", "type": "main", "index": 0 }],
        [{ "node": "Slack: Human Takeover Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
